/* .formPanel {
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    padding: 25px;
    margin: 0 auto 20px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  } */


  /* .subDiv {
    padding: 80px;
  }  */

  .test {
    padding:8px;
    text-align: center;
  }

  .addSpotFormButtons{
    margin: auto;
    text-align: center;
  }