.skateCard {
    background-color: #23252e
}

.ohhYeah {
    padding: 20px;
}

.skateColor {
    color: white;
}

.addSpotButton {
    text-align: center;
    padding: 10px;
}

.yourSkate{
    text-align: center;
    margin-bottom: 0px;
}

.skateColor1 {
    text-align: center;
    color: white;
}

/* 
body {
    background-color: black;
} */
/* 
this is what keeps putting grey in  */

