.skateCard {
    background-color: #23252e
}

.ohhYeah {
    padding: 20px;
}

.skateColor {
    color: white;
}

.skateColor1 {
    text-align: center;
    color: white;
}

.spotButton {
    margin: auto;
    width: 50%;
    background-color: black;
}

body {
    background-color: grey;
}