.container1 {
    padding-top: 2px;
    padding-bottom: 2px;
 text-align: center;
    border-top: 6px solid red;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         margin-bottom: 20px;
         background-color: dimgrey;
         margin: 0px;
         color: white;
} 

.comments {
    padding-top: 10px;
    padding-bottom: 10px;
 text-align: center;
 border-bottom: black 6px;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
         margin-bottom: 20px;
         background-color: dimgrey;
   margin-top: -4px;
         color: white; 
}